<div class="ui-panel ui-corner-all" style="width: 400px; margin: 0px auto">

<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>Iniciar sesión</span>

</div>
    <h1 align = "center">UPC - Conciertos</h1>
    <div class="ui-panel-body">

      <!DOCTYPE html>
      <html>
      <head>
        <title>Conciertos UPC</title>
        <%= stylesheet_link_tag    "application" %>
        
        <%= csrf_meta_tags %>
      </head>
      <body>
        <div id="container">
          <div class="user_nav">
            <% if current_user %>
              Logged in as <%= current_user.email %>.
              <%= link_to "Log out", logout_path %>
            <% else %>
              <%= link_to "Sign up", signup_path %> or
              <%= link_to "log in", login_path %>.
            <% end %>
          </div>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <%= yield %>
        </div>
      </body>
      </html>

      <%= form_tag sessions_path do %>
        <div class="field">
          <%= label_tag :username %>
          <%= text_field_tag :username, params[:username] %>
        </div>
        <div class="field">
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </div>
        
        <div class="actions">
          <table align = "center">
            <tr>
              <td>
                <%= submit_tag "Aceptar", :class => "ui-button ui-widget ui-state-default" %>    
              </td>
            </tr>
          </table>  
        </div>



      <% end %>
  </div>  
</div>