<div class="ui-panel ui-corner-all" style="width: 600px; margin: 0px auto">
<h3>En esta página se registran las bandas participantes de los eventos musicales</h3>
<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>BANDAS MUSICALES</span>
</div>

<div class="ui-panel-body">

    <h1>Lista de Bandas</h1>

    <table>
      <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @bands.each do |band| %>
      <tr>
        <td><%= band.nombre %></td>

        <td>
            <%= button_to "Consultar", band, :class => "ui-button ui-widget ui-state-default", :method => :get %>
        </td>
        <td>
            <%= button_to "Editar", edit_band_path(band) , :class => "ui-button ui-widget ui-state-default", :method => :get %>
        </td>
        <td>
          
            <%= button_to "Eliminar", band , :class => "ui-button ui-widget ui-state-default", method: :delete, data: { confirm: 'Are you sure?' }%>

        </td>
      </tr>
    <% end %>
    </table>

    <br />

</div>

<div class="actions">

  <%= button_to "Nuevo", new_band_path, :class => "ui-button ui-widget ui-state-default", :method => :get %>

</div>
</div>