
<div class="ui-panel ui-corner-all" style="width: 400px; margin: 0px auto">

<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>BANDAS MUSICALES</span>
</div>

<div class="ui-panel-body">


<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @band.name %>
</p>

<table>

  <% @band.users.each do |user| %>
     <tr>
     	<td>
     	  <%= user.name %>	
     	</td>
     </tr>
  <% end %>

</table>

<div class="actions">
	<table align = "center">
		<tr>
			<td>
				<%= button_to "Editar", edit_band_path(@band), :class => "ui-button ui-widget ui-state-default", :method => :get %>		
			</td>
			<td>
				<%= button_to "Atrás", bands_path, :class => "ui-button ui-widget ui-state-default", :method => :get %>
			</td>
			<td>
				<%= button_to "Agregar integrante", add_user_band_path(@band), :class => "ui-button ui-widget ui-state-default", :method => :get %>	
			</td>
		</tr>
	</table>	
</div>


</div>
