<!DOCTYPE html>
<html>
<head>
  <title>Conciertos - UPC</title>
  <%= stylesheet_link_tag    "default", :media => "all" %>
  <%= stylesheet_link_tag    "custom-theme/skin", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>  
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

       	<ul  id="menu-bar">
           <li><%= link_to 'Bands', bands_path %></li>
           <li><%= link_to 'Concerts', concerts_path %></li>
           <li><%= link_to 'Locals', locals_path %></li>
           <li><%= link_to 'Disctricts', districts_path %></li>
           <li><%= link_to 'Styles', styles_path %></li>
           <li><%= link_to 'Users', users_path %></li>
        </ul>

<%= yield %>



</body>
</html>