<div class="ui-panel ui-corner-all" style="width: 950px; margin: 0px auto">

<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>CONCIERTOS</span>
</div>

<div class="ui-panel-body">

<h1>Lista de Conciertos</h1>
<%= search_form_for @q, url: search_concerts_path, method: :post do |f| %>
 <%= f.condition_fields do |c| %>
  <%= render "condition_fields", f: c %>
   <% end %>
   <%= link_to_add_fields "Add Conditions", f, :condition %>
   <div class="field">
     Sort:
     <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
     <% end %>
   </div>
<div class="actions">
  <%= submit_tag "Search", :class => "ui-button ui-widget ui-state-default" %>    
</div>
<% end %>

<br />

<div class="actions">

  <%= button_to "Nuevo", new_concert_path, :class => "ui-button ui-widget ui-state-default", :method => :get %>

</div>

</div>
