
<div class="ui-panel ui-corner-all" style="width: 600px; margin: 0px auto">

<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>CONCIERTOS</span>
</div>

<div class="ui-panel-body">

<h1>Lista de Conciertos</h1>

<div class="ui-datatable-scrollable-header">

    <table class="ui-state-default" width="100%">
        <thead>
          <tr>
            <th>Hora ini</th>
            <th>Hora fin</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>  
    </table>

    <table class="ui-datatable-data" width="100%">
        <tbody>
            <% @concerts.each do |concert| %>
              <tr>
                <td><%= concert.hora_ini %></td>
                <td><%= concert.hora_fin %></td>

                <td>
                        <%= button_to "Consultar", concert, :class => "ui-button ui-widget ui-state-default", :method => :get %>
                    </td>
                    <td>
                        <%= button_to "Editar", edit_concert_path(concert) , :class => "ui-button ui-widget ui-state-default", :method => :get %>
                    </td>
                    <td>
                      
                        <%= button_to "Eliminar", concert , :class => "ui-button ui-widget ui-state-default", method: :delete, data: { confirm: 'Are you sure?' }%>

                    </td>

                
              </tr>
            <% end %>
        </tbody>
    </table>
</div>
<br />

<div class="actions">

  <%= button_to "Nuevo", new_concert_path, :class => "ui-button ui-widget ui-state-default", :method => :get %>

</div>

</div>