<div class="ui-panel ui-corner-all" style="width: 950px; margin: 0px auto">

<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>CONCIERTOS</span>
</div>


    <h1>Buscar conciertos</h1>
    <%= search_form_for @q, url: search_concerts_path, method: :post do |f| %>
    <%= f.condition_fields do |c| %>
      <%= render "condition_fields", f: c %>
    <% end %>
     <%= link_to_add_fields "Add Conditions", f, :condition %>
     <div class="field">
         Sort:
         <%= f.sort_fields do |s| %>
          <%= s.sort_select %>
         <% end %>
      </div>
    <div class="actions">
      <%= submit_tag "Buscar", :class => "ui-button ui-widget ui-state-default" %>    
    </div>

    <% end %>

    <table id="concerts" align = "center">

      <div class="ui-datatable-scrollable-header">

          <table class="ui-state-default" width="100%">
              <thead>
                <tr>
                  <th width="20" align="center">Evento</th>
                  <th width="20" align="center">Fecha</th>
                  <th width="47" align="center">Hora</th>
                  <th width="47" align="center">Mantenimiento</th>
                </tr>
              </thead>  
          </table>

          <table class="ui-datatable-data" width="100%">
              <tbody>
                  <% @concerts.each do |concert| %>
                    <tr>
                      <td width="60" align="center"><%= concert.name %></td>
                      <td width="47" align="center"><%= concert.fecha %></td>
                      <td width="47" align="center"><%= concert.hora_ini.strftime('%H:%M:%S') %></td>
                                                                  
                          <td width="10" align="center">
                              <%= button_to "Consultar", concert, :class => "ui-button ui-widget ui-state-default", :method => :get %>

                          </td>
                          <td width="10" align="center">
                              <%= button_to "Editar", edit_concert_path(concert) , :class => "ui-button ui-widget ui-state-default", :method => :get %>
                          </td>
                          <td width="10" align="center">
                            
                              <%= button_to "Eliminar", concert , :class => "ui-button ui-widget ui-state-default", method: :delete, data: { confirm: 'Are you sure?' }%>

                          </td>

                      
                    </tr>
                  <% end %>
              </tbody>
          </table>
      </div>
     
    </table>

</div>