<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ti_persona %>
    <%= f.input :name %>
    <%= f.input :ap_paterno %>
    <%= f.input :ap_materno %>
    <%= f.input :sexo, :collection => 1..2, :as => :radio_buttons %>
    <%= f.input :ti_doc_ident %>
    <%= f.input :nu_doc_ident, input_html: { maxlength: 8 } %>
    <%= f.input :email %>
  </div>
  <%= submit_tag "Grabar", :class => "ui-button ui-widget ui-state-default" %>    

<% end %>

