<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :usuario %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido_paterno %>
    <%= f.text_field :appaterno %>
  </div>
  <div class="field">
    <%= f.label :apellido_materno %>
    <%= f.text_field :apmaterno %>
  </div>
  <div class="field">
    <%= f.label :sexo %>
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contraseña %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirmar_contraseña %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_documento %>
    <%= f.text_field :tidocident %>
  </div>
  <div class="field">
    <%= f.label :numero_de_documento %>
    <%= f.text_field :nudocident %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>