<div class="ui-panel ui-corner-all" style="width: 600px; margin: 0px auto">

<div class="ui-panel-titlebar ui-widget-header ui-corner-all">
    <span>USUARIO</span>
</div>

<div class="ui-panel-body">

<p id="notice"><%= notice %></p>

<p>
  <b>Ti persona:</b>
  <%= @user.ti_persona %>
</p>

<p>
  <b>Prenombre:</b>
  <%= @user.name %>
</p>

<p>
  <b>Ap paterno:</b>
  <%= @user.ap_paterno %>
</p>

<p>
  <b>Ap materno:</b>
  <%= @user.ap_materno %>
</p>

<p>
  <b>Sexo:</b>
  <%= @user.sexo %>
</p>

<p>
  <b>Ti doc ident:</b>
  <%= @user.ti_doc_ident %>
</p>

<p>
  <b>Nu doc ident:</b>
  <%= @user.nu_doc_ident %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<div class="actions">
  <table align = "center">
    <tr>
      <td>
        <%= button_to "Editar", edit_user_path(@user), :class => "ui-button ui-widget ui-state-default", :method => :get %>   
      </td>
      <td>
        <%= button_to "Atrás", users_path, :class => "ui-button ui-widget ui-state-default", :method => :get %>
      </td>
    </tr>
  </table>  
</div>